<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">


<hibernate-configuration>
	
	<session-factory>
		<mapping class="cz.uhk.fim.cinema.entity.ReservationItem" />
		<mapping class="cz.uhk.fim.cinema.entity.Contact" />
		<mapping class="cz.uhk.fim.cinema.entity.Hall" />
		<mapping class="cz.uhk.fim.cinema.entity.Movie" />
		<mapping class="cz.uhk.fim.cinema.entity.Program" />
		<mapping class="cz.uhk.fim.cinema.entity.Reservation" />
		<mapping class="cz.uhk.fim.cinema.entity.User" />
		<mapping class="cz.uhk.fim.cinema.entity.Role" />
	</session-factory>

</hibernate-configuration>